In [1224]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.cross_validation import train_test_split, cross_val_score, cross_val_predict
%matplotlib inline

//anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [1226]:
URL = "https://www.indeed.com/jobs?q=data+scientist+salary&l=New+York"

In [1234]:
response = requests.get(URL)
html = response.text
soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")

In [1236]:
## YOUR CODE HERE
def get_co(cos):
    company = ""
    for entry in cos:
        if entry != ("" or None):
            try:
                company = str(entry.find("span",{"itemprop":"name"}).text).lstrip()
            except:
                company = "No Company Listed"
        else:
            company = "No Company Listed"
    return company

In [1237]:
get_co(soup.find_all("span", {"class": "company"}))

'Analytic Partners'

In [1229]:
def get_salary(salaries):
    for entry in salaries:
        if entry != ("" or None):
            try:
                salary = str(entry.find("nobr").text)
            except:
                salary = "No Salary Listed"
        else:
            salary = "No Salary Listed"
    return salary

In [1230]:
def get_jobtitle(titles):
    for entry in titles:
        if entry != ("" or None):
            try:
                jobtitle = str(entry.text)
            except:
                jobtitle = "No Job Title Listed"
        else:
            jobtitle = "No Job Title Listed"
    return jobtitle

In [1231]:
def get_location(locations):
    for entry in locations:
        if entry != ("" or None):
            try:
                location = str(entry.text)
            except:
                location = "No Location Listed"
        else:
            location = "No Location Listed"
    return location

In [1232]:
YOUR_CITY = 'Raleigh'

In [ ]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420000&l={}&start={}"
max_results_per_city = 2500 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', YOUR_CITY]):
        for start in range(0, max_results_per_city, 10):
            url = "http://www.indeed.com/jobs?q=data+scientist+%24220000&l="+str(city)+"&start="+str(start)
            response = requests.get(url)
            html = response.text
            results.append(html)
        # Grab the results from the request (as above)
        # Append to the full set of results
        pass

In [1239]:
r_20 = ''.join(results) #Rerunning for each scrape.

In [1240]:
soup_20 = BeautifulSoup(r_20, 'html.parser', from_encoding="utf-8") #Reran this with each different

In [1241]:
ds20 = pd.DataFrame(columns=["location","title","company","salary"])

In [1242]:
for row in soup_20.find_all("div", {"class": " row result"}): #Searches through each of the row results.
    loc = get_location(row.find_all("span", {"class":"location"}))
    jt = get_jobtitle(row.find_all("a", {"class":"turnstileLink"}))
    co = get_co(row.find_all("span", {"class": "company"}))
    sal = get_salary(row.find_all("td",{"class":"snip"}))
    ds20.loc[len(ds20)]=[loc, jt, co, sal] #Make a new record in the above created dataframes with the results parsed.

In [1243]:
ds20

,location,title,company,salary
0,"San Francisco, CA",Lead Data Scientist - Engagement & Growth,Harnham,"$220,000 a year"
1,"San Francisco, CA",Director of Data Science,Harnham,"$230,000 a year"
2,"Berkeley, CA 94705",Sr Data Scientist/Solution Architect,Redfish Technology,"$250,000 a year"
3,"San Francisco, CA",Head of Data Science,Harnham,"$225,000 a year"
4,"San Mateo, CA",Senior Data Scientist (Contract),Workbridge Associates,$130 an hour
5,"New York, NY",Chief Data Scientist - Consulting,Harnham,"$220,000 a year"
6,"New York, NY",Machine Learning Engineer - NLP - Java - Pytho...,Darwin Recruitment,$120 - $140 an hour
7,"New York, NY 10150 (Midtown area)",Skilled Java Specialists - NYC,Twenty Recruitment,$120 an hour
8,"Philadelphia, PA",Data Scientist,ACROSTAFF,$120 an hour